<template>
    <section class="application">
        <LeftHandVerticalMenu class="menu" />
        <n-dialog-provider>
            <n-message-provider placement="bottom-right">
                <RightHandPane class="page" />
            </n-message-provider>
        </n-dialog-provider>
    </section>   
    <orbit-i-o :connections="connections" @set_host_id="on_set_host_id" v-model:erase="erase"></orbit-i-o>
</template>

<script setup>
import { computed } from 'vue'
import { NDialogProvider, NMessageProvider } from 'naive-ui'
import LeftHandVerticalMenu from '@/widgets/LeftHandVerticalMenu.vue'
import RightHandPane from '@/widgets/RightHandPane.vue'
import OrbitIO from '@/library/OrbitIO.vue'
import { useCommonStore } from '@/stores/commonStore'
import { useUsersStore } from '@/stores/usersStore'
import { useSessionsStore } from '@/stores/sessionsStore'
import { useVersionsStore } from '@/stores/versionsStore'
import { version } from '@/../package.json'
</script>

<!--      |         |         |         |         |         |         |         |         |         |         |     -->


<script>
export default {
    components: { NDialogProvider, NMessageProvider },
    created () {
        this.commonStore = useCommonStore()
        this.isauth = false
    },
    mounted () {
        this.commonStore.start_timer()
        setTimeout(() => {
            this.connections.set('versioncheck', {
                host: `${location.host}/orb`, 
                options: this.connection_options,
                events: {
                    connected:      this.on_connected,
                    disconnected:   this.on_disconnected,
                    authenticated:  this.on_authenticated,
                }
            })
        }, 100)
    },
    computed: {
        connected: {
            get () { return this.commonStore ? this.commonStore.connected : false},
            set (value) { this.commonStore.connected = value }
        },
        authenticated: {
            get () { return this.commonStore ? this.commonStore.authenticated : false},
            set (value) { this.commonStore.authenticated = value }
        },
        host_id: {
            get () { return this.commonStore ? this.commonStore.host_id : false},
            set (value) { this.commonStore.host_id = value }
        },
        erase: {
            get () { return this.commonStore ? this.commonStore.erase : false},
            set (value) { this.commonStore.erase = value }
        },
    },
    methods: {
        on_connected (key, socket) {
            console.log('[SOCKET Conn on ', socket.id, ']')
            this.connected = true
            this.sockets.set('zerodocs', socket)
            this.usersStore = useUsersStore().init(this, socket)
            this.sessionsStore = useSessionsStore().init(this, socket)
            this.versionsStore = useVersionsStore().init(this, socket)
        },
        on_disconnected (key, socket, reason) {
            console.log('[SOCKET Diso on ', key, '] - ', reason)
            this.connected = false
            this.authenticated = false
            this.isauth = false
        },
        on_authenticated (key, socket) {
            console.log('[SOCKET Auth on ', socket.id, ']')
            this.authenticated = true
            this.isauth = true
            socket.emit('get_version', 'orbit_vcheck', version, (response) => {
                console.log('[SOCKET Resp on ', socket.id, ']', response)
                this.usersStore.populate()
            })
        },
        on_set_host_id (host_id) {
            this.host_id = host_id
        }
    },
    data () {
        return {
            sockets: new Map(),
            isauth: false,
            auth: false,
            commonStore: null,
            usersStore: null,
            sessionsStore: null,
            versionsStore: null,
            connections: new Map(),
            connection_options: {
                transports: ['websocket'], 
                upgrade: true, 
                path: '/orb',
                randomizationFactor: 0.1,
                useConnectionNamespace: true,
                autoConnect: false,
            },
        }
    },
    provide () {
        return {
            $authenticated: computed(() => this.isauth),
            $sockets: this.sockets,
        }
    },  
}
</script>

<style scoped>
.application {
    height: 100%;
    display: flex;
}
.menu {
    flex:0;
}
.page {
    flex:1;
}
</style>

<style>
html {
    height: 100%;
    overflow-y: hidden;
}
.highlight span.linenos {
    background-color: #eee;
    padding-left: 3em;
    padding-right: 10px;
    margin-right: 18px;
    border-radius: 6px;
}

/* section.rhs.page div p {
    margin-bottom: 0.3em;
    font-family: "Archivo", sans-serif;
    font-size: 1.1em;
    color: #666;
    line-height: 1.45em;
}
section.rhs.page div pre {
    white-space: break-spaces;
    border-radius: 6px;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 0.90em;
} */
/* section.rhs.page div H1 {
    font-size: 1.8em;
    font-weight: 500;
    color: teal;
    font-family: "Amaranth", sans-serif;
}
section.rhs.page div H2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #888;
}
section.rhs.page div H3 {
    font-size: 1.4em;
    font-weight: 500;
    color: teal;
    font-family: "Amaranth", sans-serif;
}

section.rhs.page div H5 {
    font-size: 1.1em;
    font-weight: 500;
    color: #666;
    font-family: "Archivo", sans-serif;
    line-height: 1.4em;
} */

/* section.rhs.page ul li {
    font-size: 1.05em;
    color: #222;
    font-family: "Archivo", sans-serif;
} */

/* section.rhs.page ul {
    margin-bottom: 0.5em;
} */


/* section.rhs.page div A {
    color: blue;
    text-decoration: none;
    font-weight: 500;
}
section.rhs.page div B {
    text-decoration: none;
    font-weight: 600;
} */

/* Global HTML preview settings */

section.content div.html div.highlight {
    background-color: #eee;
    padding: 1em;
    padding-left: 0.5em;
    border-radius: 10px;
    margin-right: 1em;
}

section.content div.n-tabs div.html div.highlight {
    background-color: white;
    padding: 1em;
    padding-left: 0.5em;
    border-radius: 10px;
    margin-right: 1em;
}

section.content div.html p {
    margin-bottom: 0.8em;
    font-family: "Archivo", sans-serif;
    font-size: 1.2em;
    color: #555;
    margin-right: 1em;
}
section.content div.html pre {
    white-space: break-spaces;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1em;
}

section.content div.html h1, section.content div.html h2, section.content div.html h3, section.content div.html h4, section.content div.html h4  {
    font-family: "Amaranth", sans-serif;
}
section.content div.html h1 {
    font-size: 1.8em;
    font-weight: 600;
    color: teal;
}
section.content div.html H2 {
    font-size: 1.4em;
    font-weight: 600;
    color: #888;
}
section.content div.html A {
    color: blue;
    text-decoration: none;
    font-weight: 500;
}
section.content div.html B {
    text-decoration: none;
    font-weight: 600;
}
section.content div.html U {
    text-decoration: underline;
    font-weight: 500;
}
section.content div.html ul {
    margin-block-end: 1em;
}
section.content div.html ul li {
    font-size: 1em;
    color: #222;
    font-family: "Archivo", sans-serif;
}
section.content div.html IMG {
    margin-bottom: 4px;
    margin-right: 8px;
}
section.content div.html strong {
    font-weight: bold;
    color: #333;
}

.n-dialog--bordered.n-modal {
    border-width: thick;
    border-color: cadetblue;
}
.n-button--ghost {
    padding-left: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #80d4ff;
    border-radius: 10px;
    border: 2px solid #fff;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #cceeff;
    border-radius: 10px;
    border: 2px solid #fff;
    opacity: 0.5;
}
::-webkit-scrollbar {
    background: #cceeff;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    cursor: crosshair!important;
}
</style>