<template>
    <ZeroDocs />
</template>

<script>
import { defineComponent } from "vue";
import ZeroDocs from '@/components/zerodocs/ZeroDocs.vue';

export default defineComponent({
    components: {ZeroDocs},
})
</script>