<template>
    <!-- <MarkdownFile :file="content" v-if="content"/> -->
    <section class="content"  v-if="content">
        <div class="html" v-html="content"></div>
    </section>
</template>

<script setup>
import { defineComponent } from 'vue'
import { useCommonStore } from '@/stores/commonStore'
// import { useCacheStore } from '@/stores/cacheStore'
import MarkdownFile from '@/widgets/MarkdownFile.vue'
</script>

<script>
export default defineComponent({
    inject: ['$sockets'],
    created () {
        this.commonStore = useCommonStore()
        // this.cacheStore = useCacheStore()
    },
    mounted () {
        this.load_home()
    },
    methods: {
        load_home () {
            if (!this.authenticated) return
            if (!this.loaded) {
                this.loaded = true
                // this.cacheStore.populate(() => {
                //     this.home()
                // })
            } else this.home()
        },
        home () {
            // const params = {
            //     project: 'orbit-vcheck',
            //     project_id: '44869863',
            //     provider: 'gitlab',
            //     path: 'README.md',
            // }
            // this.cacheStore.fetch(params, false, (response) => {
            //     console.log("Respp>", response)
            //     if (response && response.ok) {
            //         console.log("Response>", response)
            //         this.loading = response.loading
            //         if (!this.loading) this.content = response.text
            //     }
            //     else this.error = response.error
            // })
        }
    },  
    watch: {
        authenticated: {
            handler: function (ok) {
                if (ok) this.load_home()
            }
        },
    },  
    computed: {
        authenticated () { return this.commonStore ? this.commonStore.authenticated : false },
    },
    data () {
        return {
            content: null,
            commonStore: null,
            // cacheStore: null,
            loaded: false,
        };
    },
})
</script>

<style scoped>
section.content {
    flex: 1;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
    height: 1px;
}
section.content div.html {
    all: revert;
    overflow-y: auto;
    height: 100%;
    margin-left: 1.5em;
    margin-top: 0.5em;
}
</style>
