<template>
    <section class="content">
        <div class="html">
            <h1>Current Sessions</h1>
            <p>
                This table shows details of the current sessions connected to this server. Somewhere in the listing <b>your</b> connection
                should be visible shown in <b>blue</b>. This ID is not significant other than being an anonymous unique identifier for your
                machine which can be regenerated at any time. Details include the client software in use and it's current version.
            </p>
            <grid-widget @click="onClickRow" :ids='ids' :columns=8 class="sessions-widget">
                <template v-slot:header>
                    <div>Host ID</div>
                    <div>Start Time</div>
                    <div>Session Timer</div>
                    <div>Vendor</div>
                    <div>Platform</div>
                    <div>Language</div>
                    <div>Client</div>
                    <div>Version</div>
                </template>
                <template v-slot:row="props">
                    <div :class="isThisMe(data.get(props.id).host_id)">{{ data.get(props.id).host_id }}</div>
                    <div>{{ getWhen(data.get(props.id).when) }}</div>
                    <transition name="fade" mode="out-in">
                        <div :key="getSince(data.get(props.id).when)">
                            {{ getSince(data.get(props.id).when) }}
                        </div>
                    </transition>
                    <div>{{ data.get(props.id).vendor }}</div>
                    <div>{{ data.get(props.id).platform }}</div>
                    <div>{{ data.get(props.id).language }}</div>
                    <div>{{ data.get(props.id).product }}</div>
                    <div>{{ data.get(props.id).version }}</div>
                </template>
            </grid-widget>
        </div>
    </section>
</template>

<script setup>
import GridWidget from '@/widgets/GridWidget.vue'
import { defineComponent } from 'vue'
import { useCommonStore } from '@/stores/commonStore'
import { useSessionsStore } from '@/stores/sessionsStore'
import { format } from 'date-fns'
import moment from 'moment'
</script>

<script>
export default defineComponent({
    inject: ['$sockets'],
    components: {GridWidget},
    created () {
        this.commonStore = useCommonStore()
        this.sessionsStore = useSessionsStore()
    },
    data () {
        return {
            commonStore: null,
            sessionsStore: null,
            loaded: false
        }
    },
    methods: {
        load_page () {
            if (!this.authenticated || this.loaded) return
            this.loaded = true            
            this.sessionsStore.populate()
        },
        getWhen (when)      { return format(new Date(when * 1000), 'yyyy-MM-dd HH:mm:ss') },
        getSince (when)     { return moment(new Date((when) * 1000)).from(this.timenow) },
        onClickRow (event)  { console.log("Event: ", event) },
        isThisMe (host_id)  { return this.host_id == host_id ? 'is-me' : 'is-default' },
    },  
    watch: {
        authenticated: {
            handler: function (ok) {
                if (ok) this.load_page()
            }
        }
    },  
    computed: {
        ids ()              { return this.sessionsStore ? this.sessionsStore.ids('populate') : []},
        data ()             { return this.sessionsStore ? this.sessionsStore.data : {}},
        timenow ()          { return this.commonStore ? this.commonStore.timenow : 0},
        authenticated ()    { return this.commonStore ? this.commonStore.authenticated : false},
        host_id ()          { return this.commonStore ? this.commonStore.host_id : ''}
    }
})
</script>

<style scoped>
section.content {
    flex: 1;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
    height: 1px;
}
section.content div.html {
    all: revert;
    overflow-y: auto;
    height: 100%;
    margin-left: 1.5em;
    margin-top: 0.5em;
    font-size: 1.1em;
    max-width: 82em;
}


.sessions-widget {
    max-width: 82em;
}
.is-me {
    color: blue!important;
}

.fade-enter-active {
  transition: all 1s ease;
}
.fade-leave-active {
  transition: all 1s;
}
.fade-leave-to
{
    color: red!important;
}

</style>
