<template>
    <section class="content">
        <div class="html">
            <h1>Current Users</h1>
            <p>
                This table shows details of the browsers that have previously accessed this server to recover a version number for their product.
                For applications that require authentication is shows the activation code and number of times a user has tries to use it. Your 
                registration is shown in <b>blue</b>.
            </p>
            <grid-widget @click="onClickRow" :ids='ids' :columns=4 class="users-widget">
                <template v-slot:header>
                    <div>Host ID</div>
                    <div>Active</div>
                    <div>Code</div>
                    <div>Tries</div>
                </template>
                <template v-slot:row="props">
                    <div :class="isThisMe(data.get(props.id)._id)">{{ data.get(props.id)._id }}</div>
                    <div>{{ data.get(props.id).active }}</div>
                    <div>{{ data.get(props.id).code }}</div>
                    <div>{{ data.get(props.id).tries }}</div>
                </template>
            </grid-widget>
        </div>
    </section>        
</template>

<script setup>
import GridWidget from '@/widgets/GridWidget.vue'
import { defineComponent } from 'vue'
import { useCommonStore } from '@/stores/commonStore'
import { useUsersStore } from '@/stores/usersStore'
import { format } from 'date-fns'
</script>

<script>
export default defineComponent({
    inject: ['$sockets'],
    components: {GridWidget},
    created () {
        this.commonStore = useCommonStore()
        this.usersStore = useUsersStore()
    },
    data () {
        return {
            commonStore: null,
            usersStore: null,
            loaded: false
        }
    },
    methods: {
        load_page () {
            if (!this.authenticated || this.loaded) return
            this.loaded = true            
            this.usersStore.populate()
        },
        getWhen (when)      { return format(new Date(when * 1000), 'yyyy-MM-dd HH:mm:ss') },
        onClickRow (event)  { console.log("Event: ", event) },
        isThisMe (host_id)  { return this.host_id == host_id ? 'is-me' : 'is-default' },
    },  
    watch: {
        authenticated: {
            handler: function (ok) {
                if (ok) this.load_page()
            }
        }
    },  
    computed: {
        ids ()              { return this.usersStore ? this.usersStore.ids('populate') : []},
        data ()             { return this.usersStore ? this.usersStore.data : {}},
        timenow ()          { return this.commonStore ? this.commonStore.timenow : 0},
        authenticated ()    { return this.commonStore ? this.commonStore.authenticated : false},
        host_id ()          { return this.commonStore ? this.commonStore.host_id : ''}
    }
})
</script>

<style scoped>
section.content {
    flex: 1;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
    height: 1px;
}
section.content div.html {
    all: revert;
    overflow-y: auto;
    height: 100%;
    margin-left: 1.5em;
    margin-top: 0.5em;
    font-size: 1.1em;
    max-width: 960px;
}
.users-widget {
    max-width: 960px;
}
.is-me {
    color: blue!important;
}


</style>