<template>
    <section class="content">
        <div class="html">
            <h1>Software Versions</h1>
            <p>
                This table shows which packages we are keeping track of and the current version numbers of those packages. Eventually
                this will pull version numbers directly from the respective repositories / build systems but for now it is adjusted
                manually by an admin.
            </p>
            <grid-widget @click="onClickRow" :ids='ids' :columns=4 class="versions-widget">
                <template v-slot:header>
                    <div>Key</div>
                    <div>Product Name</div>
                    <div>Version</div>
                    <div>Updated</div>
                </template>
                <template v-slot:row="props">
                    <div>{{ data.get(props.id)._id }}</div>
                    <div>{{ data.get(props.id).product }}</div>
                    <div>{{ getWhen(data.get(props.id).when) }}</div>
                    <div>{{ data.get(props.id).version }}</div>
                </template>
            </grid-widget>
        </div>
    </section>
</template>

<script setup>
import GridWidget from '@/widgets/GridWidget.vue'
import { defineComponent } from 'vue'
import { useCommonStore } from '@/stores/commonStore'
import { useVersionsStore } from '@/stores/versionsStore'
import { format } from 'date-fns'
</script>

<script>
export default defineComponent({
    inject: ['$sockets'],
    components: {GridWidget},
    created () {
        this.commonStore = useCommonStore()
        this.versionsStore = useVersionsStore()
    },
    data () {
        return {
            commonStore: null,
            versionsStore: null,
            loaded: false
        }
    },
    methods: {
        load_page () {
            if (!this.authenticated || this.loaded) return
            this.loaded = true            
            this.versionsStore.populate()
        },
        getWhen (when)      { return format(new Date(when * 1000), 'yyyy-MM-dd HH:mm:ss') },
        onClickRow (event)  { console.log("Event: ", event) }
    },  
    watch: {
        authenticated: {
            handler: function (ok) {
                if (ok) this.load_page()
            }
        }
    },  
    computed: {
        ids ()              { return this.versionsStore ? this.versionsStore.ids('populate') : []},
        data ()             { return this.versionsStore ? this.versionsStore.data : {}},
        timenow ()          { return this.commonStore ? this.commonStore.timenow : 0},
        authenticated ()    { return this.commonStore ? this.commonStore.authenticated : false},
    }
})
</script>

<style scoped>
section.content {
    flex: 1;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
    height: 1px;
}
section.content div.html {
    all: revert;
    overflow-y: auto;
    height: 100%;
    margin-left: 1.5em;
    margin-top: 0.5em;
    font-size: 1.1em;
    max-width: 980px;
}

</style>