<template>
    <span></span>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import io from 'socket.io-client'
import 'core-js'

export default {
    inject: ['$sockets'],
    props: {
        connections: Map,
        erase: Boolean
    },
    created () {
        this.setup_local_environment()
    },
    watch: {
        connections: {
            handler: function (n,o) {
                if (this.connections.size) {
                    this.refresh_connections()
                }
            },
            deep: true,
        },
        erase: {
            handler: function (state, old) {
                console.log("Erase changed from ", old, ' to ', state)
                if (state) {
                    console.log("Delete Local")
                    this.delete_local_environment()
                    this.$emit('update:erase', false)
                }
            }
        }
    },
    methods: {
        do_start_socket (key) {
            const socket = this.activeConnections.get(key).io
            const connection = this.connections.get(key)
            socket.on('connect', () => {
                connection.events.connected(key, socket)
                this.say_hello(key, socket, (response) => { this.ask_to_validate (key, socket, response) })
            })
            socket.on('disconnect', (reason) => {
                connection.events.disconnected(key, socket, reason)
            })
            socket.connect()
        },
        do_stop_socket (key) {
            const socket = this.activeConnections.get(key).io
            socket.disconnect()
            delete this.activeConnections[key]
        },
        do_restart_socket (key) {
            this.do_stop_socket (key)
            this.do_create_socket (key)
            this.do_start_socket (key)
        },
        do_create_socket (key) {
            const signature = JSON.stringify(this.connections.get(key))
            const connection = JSON.parse(signature)
            if (!this.activeConnections.has(key)) {
                this.activeConnections.set(key, {
                    io: new io(connection.host, connection.options),
                    signature: signature
                })
                this.$sockets.set(key, this.activeConnections.get(key).io)
                return true
            }
            return signature == this.activeConnections.get(key).signature
        },
        refresh_connections () {
            if (!this.ready) return
            let new_connections = new Set()
            let old_connections = new Set()
            let upd_connections = new Set()
            if (this.activeConnections) {
                this.activeConnections.forEach((value, key, map) => {
                    old_connections.add(key)
                })
            }
            if (this.connections) {
                this.connections.forEach((value, key, map) => {
                    new_connections.add(key)
                    if (!this.do_create_socket(key)) {
                        upd_connections.add(key)
                    }
                })
            }
            new_connections.difference(old_connections).forEach(key => this.do_start_socket(key))
            old_connections.difference(new_connections).forEach(key => this.do_stop_socket(key))
            upd_connections.forEach(key => this.do_restart_socket(key))
        },

        delete_local_environment () {
            this.key_pair = null
            let request = indexedDB.open("local", 1)
            request.onsuccess = async function(event) {
                let db = event.target.result
                const req = db.transaction(["credentials"], "readwrite").objectStore("credentials").clear()
            }.bind(this)
        },

        setup_local_environment () {
            // console.log("Setting up local environment")
            const self = this
            this.key_pair = null
            let request = indexedDB.open("local", 1)
            request.onupgradeneeded = function(event) {
                this.store = event.target.result.createObjectStore("credentials")
            }
            request.onsuccess = async function(event) {
                let db = event.target.result
                db.transaction(["credentials"]).objectStore("credentials").get('host_id').onsuccess = function (event) {
                    if (event.target.result) {
                        this.host_id = event.target.result
                        this.$emit('set_host_id', this.host_id)
                    } else {
                        this.host_id = uuidv4()
                        db.transaction(["credentials"], "readwrite").objectStore("credentials").put(this.host_id, 'host_id')
                    }
                }.bind(this)
                db.transaction(["credentials"]).objectStore("credentials").get('user_id').onsuccess = function (event) {
                    if (event.target.result) {
                        this.user_id = event.target.result
                    } else {
                        this.user_id = uuidv4()
                        db.transaction(["credentials"], "readwrite").objectStore("credentials").put(this.user_id, 'user_id')
                    }
                }.bind(this)
                db.transaction(["credentials"]).objectStore("credentials").get('key_pair').onsuccess = async function (event) {
                    if (event.target.result) {
                        this.key_pair = event.target.result
                    } else {
                        this.key_pair = await window.crypto.subtle.generateKey(
                            {
                                name: 'RSA-OAEP',
                                modulusLength: 4096,
                                publicExponent: new Uint8Array([1,0,1]),
                                hash: 'SHA-256'
                            },
                            true,
                            ['encrypt', 'decrypt'])
                        db.transaction(["credentials"], "readwrite").objectStore("credentials").put(this.key_pair, 'key_pair')
                    }
                    console.log("Ready to rock and roll!")
                    self.ready = true
                    self.refresh_connections()
                }.bind(this)
            }.bind(this)
        },
        async public_key () {
            while (!this.key_pair) {
                await new Promise(r => setTimeout(r, 10))
            }
            const exported = await window.crypto.subtle.exportKey('spki', this.key_pair.publicKey)
            return btoa(String.fromCharCode.apply(null, new Uint8Array(exported)))
        },
        convertPemToBinary (key) {
            let pem = String.fromCharCode.apply(null, new Uint8Array(key))
            return Uint8Array.from(atob(pem.split('\n').slice(1, -1).join('')), x => x.charCodeAt(0))
        },
        convertb64ToArray (b64str) {
            return Uint8Array.from(atob(b64str), x => x.charCodeAt(0))
        },
        convertStrToArray (str) {
            return Uint8Array.from(str, x => x.charCodeAt(0))
        },
        convertArrayToStr (arr) {
            return String.fromCharCode.apply(null, new Uint8Array(arr))
        },
        run (key, socket) {
            socket.emit('join', 'default')
            if (!this.first) {
                this.$pinia._s.forEach(entry => {
                    if (entry.reload)entry.reload() 
                })
            } else {
                this.first = false
            }
            const connection = this.connections.get(key)
            connection.events.authenticated(key, socket)
        },
        async say_hello (key, socket, callback=null) {
            socket.emit('auth_hello', {hostId: this.host_id, pubKey: await this.public_key()}, async (response) => {
                let secret = this.convertb64ToArray(response.secret)
                window.crypto.subtle.decrypt({'name': 'RSA-OAEP'}, this.key_pair.privateKey, secret).then(async (secret_key) => {
                    if (this.convertArrayToStr(secret_key) != 'THESECRET') {
                        console.log('net: encryption failure during HELLO')
                        return
                    }
                    if (callback) callback(response)
                })
            })
        },
        async ask_to_validate (key, socket, response) {
            this.server_public_key = await crypto.subtle.importKey("spki", this.convertPemToBinary(response.pemKey), this.algorithm, true, ["encrypt"])
            let secret = await window.crypto.subtle.encrypt({name: 'RSA-OAEP'}, this.server_public_key, this.convertStrToArray(this.user_id))
            secret = this.convertArrayToStr(secret)
            socket.emit('auth_validate', {
                host_id: this.host_id,
                secret: btoa(secret),
                platform: navigator.platform,
                vendor: navigator.vendor,
                language: navigator.language
                }, async (response) => {
                    if (!response) return console.log("Error> UNKNOWN")
                    if (!response.ok) return console.log("Error>", response.error)
                    if (response.ok && (response.validate == false)) return this.run(key, socket)
                    // this.ask_for_validation_code()
                    console.log('net: need ACTIVATION code')
            })
        },
        async ask_for_validation_code (key, socket) {
            this.$buefy.dialog.prompt({
                title: 'Enter Activation Code',
                message: 'Please obtain a six digit activation code from your system administrator and enter it here',
                inputAttrs: {
                    placeholder: 'Activation code ...',
                    maxlength: 8
                },
                type: 'is-info',
                trapFocus: true,
                canCancel: false,
                cancelText: '',
                confirmText: 'Activate',
                onConfirm: async (code) => {
                    let code_id = await window.crypto.subtle.encrypt({name: 'RSA-OAEP'}, this.server_public_key, this.convertStrToArray(code))
                    let user_id = await window.crypto.subtle.encrypt({name: 'RSA-OAEP'}, this.server_public_key, this.convertStrToArray(this.user_id))
                    let packet = {
                        host_id: this.host_id,
                        code_id: btoa(this.convertArrayToStr(code_id)),
                        user_id: btoa(this.convertArrayToStr(user_id))
                    }
                    socket.emit('auth_confirm', packet, (response) => {
                        if (response && response.ok) {
                            location.reload()
                            return
                        }
                        this.$buefy.toast.open({
                            duration: 5000,
                            message: `Code rejected: ${response.error}`,
                            position: 'is-bottom',
                            type: 'is-danger'
                        })
                        this.retry++
                        if (this.retry < 3) return this.ask_for_validation_code()
                        this.$buefy.dialog.confirm({
                            title: 'Too Many Attempts',
                            message: 'Sorry, you only get three tries, please ask your system administrator to reset your account',
                            confirmText: 'Ok',
                            cancelText: '',
                            canCancel: false,
                            type: 'is-danger',
                            onConfirm: () => location.reload()
                        })
                    })
                }
            })
        },
    },
    data () {
        return {
            ready: false,
            activeConnections: new Map(),
            first: true,
            retry: 0,
            server_public_key: null,
            host_id: null,
            user_id: null,
            algorithm: {
              name: "RSA-OAEP",
              hash: {name: "SHA-256"},
              modulusLength: 4096,
              extractable: true,
              publicExponent: new Uint8Array([1, 0, 1])
            },
        }
    }
}
</script>

 <style scoped>
</style>