<template>
    <n-modal preset="dialog" :bordered="true" :closable="false">
        <template #icon><n-icon :size="21"><add-circle-twotone /></n-icon></template>
        <template #header>
            <div>Add a new Repository</div>
        </template>
        <div class="form-fields">
            <n-space vertical>
                <n-spin :show="busy">
                    <n-form>
                        <n-form-item label="Select the Project Provider" show-require-mark>
                            <n-select ref="focusMe"
                                v-model:value="projectProvider"
                                placeholder="Select project provider"
                                :show-checkmark=false
                                :options="projectProviders" />
                        </n-form-item>
                        <n-form-item label="Enter the Project Name" show-require-mark>
                            <n-input 
                                @change="onChangeProjectName"
                                placeholder="Project name or slug"
                                v-model:value="projectName" />
                        </n-form-item>
                        <n-form-item label="Enter the Branch Name" show-require-mark>
                            <n-select ref="branches"
                                v-model:value="projectBranch"
                                placeholder="Select project branch"
                                :show-checkmark=false
                                :disabled="!projectBranches.length"
                                :loading="loadingBranch"
                                :options="projectBranches" />
                        </n-form-item>
                        <n-form-item label="Enter the Project Title" show-require-mark>
                            <n-input
                                :disabled="!projectBranches.length"
                                placeholder="Project Title or description"
                                v-model:value="projectTitle" />
                        </n-form-item>
                    </n-form>
                </n-spin>
            </n-space>
        </div>
        <template #action>
            <n-button type="warning" @click="onClickCancel()">
                <template #icon><n-icon><add-circle-sharp /></n-icon></template>
                Cancel
            </n-button>
            <n-button type="primary" @click="onClickAdd()" :disabled="!validProject||busy">
                <template #icon><n-icon><cancel-filled /></n-icon></template>
                Add
            </n-button>
        </template>
    </n-modal>
</template>

<script>
import { defineComponent } from "vue";
import { AddCircleTwotone, AddCircleSharp, CancelFilled } from '@vicons/material'
import { useCommonStore } from '@/stores/commonStore.js';
import { useProjectStore } from '@/components/zerodocs/stores/projectStore.js';

export default defineComponent({
    components: {AddCircleTwotone,AddCircleSharp, CancelFilled},
    created () {
        this.commonStore = useCommonStore()
        this.projectStore = useProjectStore()
    },
    methods: {
        onChangeProjectName (event) {
            this.loadingBranch = true
            this.projectStore.getProjectId(this.projectProvider, this.projectName, (response) => {
                if (!response||!response.ok) {
                    this.reset(response.error)
                    this.$refs.focusMe.focus()
                }
                else {
                    this.loadingBranch = false
                    this.projectBranches = []
                    response.branches.forEach(branch => {
                        this.projectBranches.push({label: branch, value: branch})
                        this.$nextTick(() => this.$refs.branches.focus())
                    })
                }
            })
        },
        onClickAdd () {
            const params = {
                provider: this.projectProvider,
                project: this.projectName,
                branch: this.projectBranch,
                label: this.projectTitle
            }
            this.busy = true
            this.projectStore.add(params, (response) => {
                this.busy = false
                if (!response||!response.ok) this.error = response.error
                else {
                    this.$emit('updated')
                    this.reset()
                }
            })
        },
        onClickCancel () {
            this.$emit('close')
            this.reset()
        },
        reset (error=null) {
            this.error = error
            this.projectName = ''
            this.projectTitle = ''
            this.loadingBranch = false
            this.projectBranches = []
            this.busy = false
        }
    },
    watch: {
        projectProvider: {
            handler: function () {
                this.reset()
                this.$refs.focusMe.focus()                
            }
        }
    },
    computed: {
        error: {
            get () {
                return this.commonStore ? this.commonStore.error : null
            },
            set (v) {
                this.commonStore.error = v
            },
        },
        validProject () {
            return  this.projectProvider && 
                    this.projectName &&
                    this.projectBranch &&
                    this.projectTitle
        }
    },
    data () {
        return {
            busy: false,
            commonStore: null,
            projectStore: null,
            loadingBranch: false,
            projectName: '',
            projectTitle: '',
            projectProvider: 'gitlab',
            projectBranch: 'main',
            projectBranches: [],
            projectProviders: [
                {label: 'Gitlab', value: 'gitlab'},
                {label: 'GitHub', value: 'github'},
            ],
        }
    }
})
</script>

<style scoped>
.form-fields {
    margin-top: 12px;
    border:1px solid #ccc;
    padding: 1em;
    padding-bottom: 0;
    border-radius: 8px;
    background-color: #eee;
}
</style>