<template>
    <n-tabs default-value="api" type="card" tab-style="min-width: 80px" v-if="has_tabs">
        <n-tab-pane class="tabPane" key="api" tab="API Docs" name="api" >
            <div class="html" v-html="content_api" ref="api_text"/>
        </n-tab-pane>
        <n-tab-pane class="tabPane" key="src" :tab="current_tab_name" name="src">
            <div class="html" v-html="content_html" ref="src_text"/>
        </n-tab-pane>
    </n-tabs>
    <div v-else>
        <div class="badges" v-if="selected_node">
            <div v-for="url in selected_node.badges">
                <a :href="url[0]" target="_blank"><img class="badge" :src="url[1]" /></a>
            </div>
        </div>
        <div class="html" v-html="content_html"/>
    </div>

</template>

<script>
import { defineComponent } from 'vue';
import { mapState } from 'pinia';
import { useCacheStore } from '@/components/zerodocs/stores/cacheStore.js';
import { useProjectStore } from '@/components/zerodocs/stores/projectStore.js'

export default defineComponent({
    props: ['content_html', 'content_api'],
    computed: {
        ...mapState(useCacheStore, {
           api_data: 'data',
        }),
        ...mapState(useProjectStore, {
            current_node: 'current_node',
        }),
        has_tabs () {
            const node = this.api_data.get(this.current_node)
            if (node && node.path.endsWith('.py')) return true
            return false
        },
        current_tab_name () {
            const node = this.api_data.get(this.current_node)
            return node.label
        },
        selected_node () {
            return this.api_data.get(this.current_node)
        }
    }
})
</script>

<style scoped>
.badges {
    margin-top: 0.9em;
    float: right;
    text-align: right;
    margin-right: 1em;
    padding: 1em;
    border: 2px dotted #ccc;
    border-radius: 10px;
}
.badge {
    margin-left: 0.5em;
}
</style>