<template>
    <n-space class="button-bar" v-if="!isEditing">
        <menu-button @click="onMenuItemClick('edit')"
            key="edit" :size="36" width="64px" height="68px" :icon="AddCircleFilled" text="Edit" bordered/>
        <menu-button @click="onMenuItemClick('refresh')"
            key="done" :size="36" width="64px" height="68px" :icon="RefreshFilled" text="Refresh" bordered/>
    </n-space>
    <n-space class="button-bar" v-else>
        <menu-button @click="onMenuItemClick('done')"
            key="done" :size="36" width="64px" height="68px" :icon="DoneAllFilled" text="Done" bordered/>
        <menu-button @click="onMenuItemClick('add')"
            key="done" :size="36" width="64px" height="68px" :icon="AddCircleFilled" text="Add" bordered/>
        <menu-button @click="onMenuItemClick('del')"
            key="done" :size="36" width="64px" height="68px" :icon="DeleteFilled" text="Delete" bordered/>
    </n-space>
</template>

<script>
import { defineComponent, shallowRef } from "vue";
import { mapState } from 'pinia';
import { useDialog, useMessage } from "naive-ui"
import { RefreshFilled, DoneAllFilled, AddCircleFilled, DeleteFilled } from '@vicons/material'
import { useProjectStore } from '@/components/zerodocs/stores/projectStore.js'
import MenuButton from '@/widgets/MenuButton.vue';

export default defineComponent({
    props: ['isEditing'],
    components: {MenuButton},
    computed: {
        ...mapState(useProjectStore, {
            project_selectedKeys: 'selected',
            projectLookup: 'lookup',

        }),
    },
    data () {
        const dialog = useDialog()
        const message = useMessage()
        return {
            dialog,
            message,
            RefreshFilled: shallowRef(RefreshFilled),
            DoneAllFilled: shallowRef(DoneAllFilled),
            AddCircleFilled: shallowRef(AddCircleFilled),
            DeleteFilled: shallowRef(DeleteFilled),
        }
    },
    methods: {
        onMenuItemClick (button) {
            switch (button) {
                case 'edit':
                    this.$emit('edit')
                    break;
                case 'done':
                    this.$emit('done')
                    break
                case 'add':
                    this.$emit('add')
                    break
                case 'del':
                    if (!this.project_selectedKeys.length) {
                        return this.message.error('No project is currently selected!')
                    }
                    const node = this.projectLookup.get(this.project_selectedKeys[0])
                    if (node.path.length) {
                        return this.message.error('Please select a PROJECT rather than a file')
                    }
                    console.log(node)
                    this.dialog.warning({
                        title: 'Remove Project from view',
                        content: `This will remove the project called "${node.project}" from the view. Are you sure you wish to continue?`,
                        positiveText: 'Remove',
                        negativeText: 'Cancel',
                        closable: false,
                        class: 'dialogClass',
                        onPositiveClick: () => {
                            this.projectStore.remove(node, (response) => {        
                                if (response && response.ok) this.message.info('Operation was a Success!')
                                else this.message.info(`Something went wrong: ${response.error}`)
                            })
                        },
                        onNegativeClick: () => this.message.info('Operation was Cancelled'),
                    })
                    break
                case 'refresh': 
                    console.log("<< REFRESH >>", this.cache_selectedKeys, this.project_selectedKeys)
                    this.cache_selectedKeys.forEach(id => this.onClickTreeNode (this.project_data.get(id), true)); break
            }
        },
    }
})
</script>