<template>
    <n-tree class="tree"
        :data="tree"
        :show-irrelevant-nodes="false"
        :selected-keys="cache_selectedKeys"
        :expanded-keys="cache_expandedKeys"
        :node-props="nodeProps"
        :render-suffix="renderSuffix"
        :pattern="pattern"
        key-field="_id"
        block-line/>
</template>

<script>
import { defineComponent, h, reactive } from 'vue';
import { mapWritableState } from 'pinia';
import { NIcon } from 'naive-ui';
import { useCommonStore } from '@/stores/commonStore.js'
import { useCacheStore } from '@/components/zerodocs/stores/cacheStore.js'
import { useProjectStore } from '@/components/zerodocs/stores/projectStore.js'
import { LogoPython } from '@vicons/carbon';
import { FileMarkdownTwotone, FileUnknownTwotone, FolderTwotone, CodeTwotone, TagTwotone } from '@vicons/antd';


export default defineComponent({
    inject: ['$sockets', '$authenticated'],
    props: [
        'pattern',
        'root', 
    ],
    created () {
        this.commonStore = useCommonStore()
        this.cacheStore = useCacheStore()
        this.projectStore = useProjectStore()
    },
    data () {
        return {
            commonStore: null,
            cacheStore: null,
            projectStore: null,
            loading: false,
            key: '0',
            cache_selectedKeys: [],
            cache_expandedKeys: [],
            tree: [],
            index: new Map(),
            nodeProps: ({option}) => {
                const self = this
                return { onClick () { self.onClickTreeNode (option) }}
            },
        }
    },
    watch: {
        $authenticated: {
            handler (state) {
                if (state) {
                    this.start()
                }
            },
            immediate: true
        },
        api_data: {
            handler: function () {
                this.$nextTick(()=>{
                    if (this.tree.length && !this.cache_selectedKeys.length) {
                        this.onClickTreeNode(this.tree[0])
                    }
                })
            },
            deep: true,
        }
    },
    computed: {
        ...mapWritableState(useCacheStore, {
            api_data: 'data',
            path_forward: 'path_forward',
            path_reverse: 'path_reverse',
        }),
        ...mapWritableState(useProjectStore, {
            project_data: 'data',
        }),
        api_ids () { return this.cacheStore ? this.cacheStore.ids(this.root) : []},
    },
    methods: {
        addTreeRoot (item) {
            const index = this.tree.findIndex(node => node.provider == item.provider && node.project == item.project)
            if (index < 0) {
                item.isLeaf = true
                item.index = this.tree.length
                this.tree.push(item)
            } else {
                this.tree[index] = Object.assign(this.tree[index], item)
            }
        },
        delTreeRoot (tree, node) {
            tree.splice(0, tree.length, ...tree.filter(item => item._id != node._id))
        },
        expand_tree (id) {
            if (!this.expanded.includes(id)) this.expanded.push(id)
            if (this.index.has(id)) {
                const parent = this.index.get(id)
                this.expand_tree(parent._id)
            }
        },
        remove_tree (id) {
            if (this.index.has(id)) {
                parent = this.index.get(id)
                this.index.delete(id)
                parent.children = parent.children.filter(item => item._id != id)
                if (!parent.children.length) this.remove_tree(parent._id)
            } else {
                console.log("DO NOT HAVE INDEX: ", id)
            }
        },
        decorateAttributes (tree, item, sort=false) {
            if (sort) tree.children.sort((a,b) => {
                if (a.isLeaf == b.isLeaf) return a.label > b.label ? 1 : -1
                return a.isLeaf < b.isLeaf ? 1 : -1
            })
            // if (this.open_on_insert) this.expand_tree(tree._id)
            if (item.children && item.children.length) {
                item.isLeaf = false
                item.children.forEach(node => {
                    let icon = ''
                    switch (node.type) {
                        case 'method':      icon = CodeTwotone; break
                        case 'property':    icon = TagTwotone; break
                    }
                    node.prefix = () => h(NIcon, {class: node.type}, {default: () => h(icon)})
                })
            }
        },
        insertTree (path, item, tree, root='', sort=false) {
            let label = path.shift()
            root.push(label)
            parent = root.join('/')
            if (!tree.children) tree.children = reactive([])
            if (!path.length) {
                let node = tree.children.find(n => { return n.path == parent})
                if (node) {
                    node.label = item.label
                    if (item.children && item.children.length) {
                        node.children = item.children
                        node.isLeaf = false
                        this.decorateAttributes(tree, node, false)
                    } else {
                        node.children = reactive([])
                        node.isLeaf = true
                    }
                    if (!this.expanded.includes(node._id)) this.expanded.push(node._id)
                } else {
                    tree.isLeaf = false
                    if (item.label.toLowerCase() == 'readme.md') return
                    const ext = 'ext-' + item.path.split('.').pop()
                    let icon = FileUnknownTwotone
                    switch (ext) {
                        case 'ext-md':          icon = FileMarkdownTwotone; break;
                        case 'ext-py':          icon = LogoPython; break;
                    }
                    item.prefix = () => h(NIcon, {class: ext}, {default: () => h(icon)})
                    tree.children.push(item)
                    this.decorateAttributes(tree, item, sort)
                }
                this.index.set(item._id, tree)
                return
            }
            let node = tree.children.find(n => { return n.path == parent })
            if (!node) {
                node = {
                    label: label,
                    isLeaf: false,
                    path: parent,
                    _id: ++this.key,
                    prefix: () => h(NIcon, {class: 'ext-folder'}, {default: () => h(FolderTwotone)}),
                    provider: item.provider,
                    project: item.project,
                }
                tree.children.push(node)
                tree.isLeaf = false
                this.index.set(node._id, tree)
            }
            if (!node.children) node.children = reactive([])
            this.insertTree(path, item, node, root)
        },
        updateTree (response) {
            // 123456
            console.log("Incoming>", response)
            if (response.data) {
                const sort = response.data.length == 1
                response.data.forEach(item => {
                    if (!item.isLeaf) {
                        if (this.tree.find(node => node.provider == item.provider && node.project == item.project)) {
                            item.children = reactive([])
                            this.tree.push(item)
                        }
                    } else {
                        const root = this.tree.find(node => node.provider == item.provider && node.project == item.project)
                        this.insertTree(item.path.split("/"), item, root, [], sort)
                    }
                })
            }
        },
        populate (callback=null) {
            const method = 
            this.cacheStore.query({
                model: 'cache',
                label: this.root,
                method: 'api_cache_get_ids',
                filter: {'index_name': 'by_sorted'},
                chain: [this.updateTree]
            }, (response) => {
                if (!response || !response.ok)
                    throw new Error(response ? response.toString() : `no query: ${method}`)
                if (callback) callback(response)
            })
        },
        start () {
            if (!this.$authenticated ||!this.projectStore) return
            if (!this.loaded) {
                this.projectStore.populate(this.root, this.tree, () => {
                    for (const [key, item] of this.project_data.entries()) {
                        this.addTreeRoot({...item})
                    }
                    this.populate((response) => {
                        this.projectStore.checked = []
                        this.api_data.forEach(item => {
                            this.projectStore.checked.push(item.key)
                        })
                        this.loaded = true
                        this.checked_keys = this.api_ids.map(id => {
                            return this.api_data.get(id).key
                        })
                    })
                })
            }
        },
        expandOrContract (key) {
            if (!this.cache_expandedKeys.includes(key)) {
                this.cache_expandedKeys.push(key)
            } else {
                this.cache_expandedKeys = this.cache_expandedKeys.filter(id => id != key)
            }
        },
        getNode (key) {
            const parent = this.index.get(key)
            return parent ? parent.children.find(item => item._id == key) : this.tree.find(item => item._id == key)
        },
        onClickTreeNode (clickNode, force=false) {
            if (!clickNode) {
                console.log("Asked to click on null node")
                return
            }
            let node = this.getNode(clickNode._id)
            if (!node) {
                if (clickNode.parent) {
                    node = this.getNode(clickNode.parent)
                    if (node) {
                        if (node != this.current_node) {
                            this.$emit('fetch', node, force, clickNode._id)
                            this.cache_selectedKeys = [clickNode._id]
                            return
                        }
                    }
                }
                console.log("Unable to determine node:", clickNode)
                return
            }
            const isSelected = this.cache_selectedKeys.includes(node._id)
            const isExpanded = this.cache_expandedKeys.includes(node._id)
            if (isSelected && !force) return this.expandOrContract(node._id)
            if (!isExpanded || (!isSelected && !isExpanded)) this.expandOrContract(node._id)
            this.cache_selectedKeys = [node._id]
            if (node.isLeaf && node.path) {
                return this.$emit('fetch', node, force)
            }
            if (!node.isLeaf) {
                const path = node.path ? '/' + node.path : ''
                let wanted = `${node.provider}/${node.project}${path}/README.md`.toLowerCase()
                if (this.path_reverse.has(wanted)) {
                    node = this.api_data.get(this.path_reverse.get(wanted))
                } else {
                    const key = `${node.provider}/${node.project}/${node.path}`
                    if (!this.path_reverse.has(key)) {
                        this.$emit('nopage')
                        return
                    }
                }
            }
            this.$emit('fetch', node, force)
        },
        renderSuffix ({option}) {
            return h('span', {class: 'poolball'}, option.children && option.children.length ? option.children.length : ' ')
        },
    },
})
</script>

<style scoped>
</style>