<template>
    <n-tree class="tree-edit"
    :data="tree"
    :selected-keys="selectedKeys"
    :expanded-keys="expandedKeys"
    :checked-keys="checkedKeys"
    :on-update:selected-keys="onUpdateSelected"
    :on-update:expanded-keys="onUpdateExpanded"
    :on-update:checked-keys="onUpdateChecked"
    :on-load="onLoad"
    :render-suffix="renderSuffix"
    :show-irrelevant-nodes="false"
    :pattern="pattern"
    :checkable="true"
    check-strategy="child"
    key-field="key"
    block-line
    expand-on-click
    accordion/>
</template>

<script>
import { defineComponent, h } from 'vue';
import { mapWritableState, mapState } from 'pinia';
import { useCommonStore } from '@/stores/commonStore.js'
import { useCacheStore } from '@/components/zerodocs/stores/cacheStore.js'
import { useProjectStore } from '@/components/zerodocs/stores/projectStore.js'

export default defineComponent({
    props: ['pattern'],
    created () {
        this.commonStore = useCommonStore()
        this.cacheStore = useCacheStore()
        this.projectStore = useProjectStore()
    },
    mounted () {
        if (!this.selectedKeys.length) {
            if (this.tree.length) {
                this.onUpdateSelected([this.tree[0].key])
            }
        }
        if (!this.expandedKeys.length && this.tree.length) {
            this.onUpdateExpanded([this.tree[0].key])
        }
    },
    data () {
        return {
            commonStore: null,
            cacheStore: null,
            projectStore: null,
            loading: false,
        }
    },
    computed: {
        ...mapWritableState(useProjectStore, {
            lookup: 'lookup',
            selectedKeys: 'selected',
            expandedKeys: 'expanded',
            checkedKeys: 'checked',
            tree: 'tree',
            current_node: 'current_node',
            current_stamp: 'current_stamp',
        }),
        ...mapWritableState(useCacheStore, {
            api_data: 'data',
        })
    },
    methods: {
        onUpdateSelected (keys) {
            this.selectedKeys = keys
            if (keys.length) {
                const key = keys[0]
                if (this.checkedKeys.includes(key)) {
                    this.$emit('fetch', this.lookup.get(key))
                }
            }
        },
        onUpdateExpanded (keys) {
            this.expandedKeys = keys
        },
        onLoad (node) {
            return new Promise((resolve) => {
                node.children = []
                this.cacheStore.get_api_remote(node.provider, node.project, node.path, (response) => {
                    response.data.forEach(item => {
                        node.children.push(item)
                        this.lookup.set(item.key, item)
                    })
                    resolve()
                })
            })
        },
        onUpdateChecked (keys) {
            const new_keys = (new Set(keys)).difference(new Set(this.checkedKeys))
            const old_keys = (new Set(this.checkedKeys)).difference(new Set(keys))
            this.checkedKeys = keys
            let new_data = []
            let old_data = []
            new_keys.forEach(key => new_data.push(this.lookup.get(key)))
            old_keys.forEach(key => old_data.push(this.lookup.get(key)))
            this.cacheStore.update(old_data, new_data)
            if (new_data.length) {
                this.selectedKeys = [this.current_node]
                this.current_stamp = 0
                this.$emit('fetch', new_data[0])
            }
        },
        renderSuffix ({option}) {
            return h('span', {class: 'poolball'}, option.children && option.children.length ? option.children.length : ' ')
        },
    },
})
</script>

<style scoped>
.page .column-1 .tree-edit {  
    flex:1;
    height:100%;
    border-radius: 8px;
    padding: 4px;
    padding-top: 2px;
}
</style>