<template>
    <section class="page">
        <add-repository 
            :show="showAdd"
            @close="onProjectClose"
            @updated="onProjectUpdated"
            />
        <div class="column-1">
            <n-space vertical size="large" class="treeview">
                <div class="search-box">
                    <n-input class="input" v-model:value="pattern" placeholder="Search" clearable />
                </div>
                <tree-remote  @fetch="onRenderPage" :pattern="pattern" :root="root" v-if="edit" />
                <tree-local   @fetch="onRenderPage" @nopage="onNoPage" :pattern="pattern" :root="root" v-else />
                <tree-buttons :isEditing="edit" @add="onAddRepository" @edit="onEditRepository" @done="onDoneRespository" />
            </n-space>
        </div>
        <div class="column-2">
            <div class="content-wrapper">
                <div class="content" v-if="loading">
                    <span class="message">Loading and pre-processing page, please wait ...</span>
                    <div class="loading">
                        <n-spin :size="128" />
                    </div>
                </div>
                <section class="content" v-else>
                    <content :content_html="content_html" :content_api="content_api" />
                </section>
            </div>
        </div>
    </section>
</template>

<script>
import { defineComponent } from 'vue';
import { mapWritableState } from 'pinia';
import { useMessage, useDialog, NSpace, NInput } from 'naive-ui';
import { useCommonStore } from '@/stores/commonStore.js';
import { useCacheStore } from '@/components/zerodocs/stores/cacheStore.js';
import { useProjectStore } from '@/components/zerodocs/stores/projectStore.js';
import TreeRemote from '@/components/zerodocs/TreeRemote.vue';
import TreeLocal from '@/components/zerodocs/TreeLocal.vue';
import TreeButtons from '@/components/zerodocs/TreeButtons.vue';
import AddRepository from '@/components/zerodocs/AddRepository.vue';
import Content from '@/components/zerodocs/Content.vue';


export default defineComponent({
    props: ['root'],
    inject: ['$sockets', '$authenticated'],
    components: {TreeLocal, TreeRemote, AddRepository, TreeButtons, Content},
    computed: {
        ...mapWritableState(useCacheStore, {
            api_data: 'data',
        }),
        ...mapWritableState(useProjectStore, {
            project_data: 'data',
            current_node: 'current_node',
            current_stamp: 'current_stamp',
        }),
        ...mapWritableState(useCommonStore, {
            authenticated: 'authenticated',
            error: 'error'
        }),
        api_ids () {
            return this.cacheStore ? this.cacheStore.ids(this.root) : []
        },
    },
    methods: {
        onNoPage () {
            this.current_node = null
            this.content_html = '<html><body><h1>No README for this folder</h1></body></html>'
        },
        onAddRepository () {
            this.showAdd = true
        },
        onEditRepository () {
            this.edit = true
        },
        onDoneRespository () {
            this.edit = false
        },
        onProjectClose () {
            this.showAdd = false
        },
        onProjectUpdated () {
            this.showAdd = false
            this.message.success('Project successfully added or updated')
        },
        doRenderPage () {
            if (!this.current_node) return
            let data = this.api_data.get(this.current_node)
            if (!data) {
                this.error = `Unable to get node: ${this.current_node}`
                return
            }
            if (data.stamp != this.current_stamp) {
                this.doFetchPage (data)
            } else {
                this.loading = false
            }
        },
        onRenderPage (node, force, scroll_id=null) {
            this.doFetchPage (node, force, (response) => {
                this.$nextTick(() => {
                    if (scroll_id) document.getElementById(scroll_id).scrollIntoView({behavior: 'smooth', block: 'start'})
                    else if (this.$refs.api_text) this.$refs.api_text.scrollTo({top: 0, left: 0, behavior: 'smooth'})
                })
            })
        },
        doFetchPage (node, force=false, callback=null) {
            if (!node.provider) {
                if (callback) callback()
                return
            }
            if (!node.path) {
                this.content_html = '<html><body><h1>No page configured</h1></body></html>'
                return
            }
            let params = {...node}
            params.modes = ['html', 'api']
            this.cacheStore.fetch(params, force, (response) => {
                if (response && response.ok) {
                    this.current_node = node._id
                    this.current_stamp = node.stamp
                    this.loading = response.loading
                    if (!this.loading) {
                        switch (node.label.toLowerCase()) {
                            case 'license':
                            case 'license.md':
                                this.content_html = '<div class="license">' + response.html + '</div>'
                                break
                            default:
                                this.content_html = response.html
                                break
                        }
                        this.content_api = response.api
                    }
                }
                else this.error = response.error
                if (callback) callback(response)
            })
        },
    },
    watch: {
        $authenticated: {
            handler (state) {
                if (state) {
                    this.commonStore = useCommonStore()
                    this.projectStore = useProjectStore().init(this, this.$sockets.get('zerodocs'))
                    this.cacheStore = useCacheStore().init(this, this.$sockets.get('zerodocs'))
                }
            },
            immediate: true
        },
        error (error) {
            this.dialog.error({
                title: 'Operation Failed',
                content: `The last operation failed with the message: "${error}"`,
                positiveText: 'Ok',
                closable: false,
                class: 'dialogClass',
                onPositiveClick: () => {},
            })
        },
        current_node () {
            this.doRenderPage ()
        },
        api_data: {
            handler () {
                this.doRenderPage ()
            },
            deep: true
        },
    },
    data () {
        const dialog = useDialog()
        const message = useMessage()
        return {
            dialog,
            message,
            loading: false,
            edit: false,
            loaded: false,
            showAdd: false,
            showDel: false,
            commonStore: null,
            cacheStore: null,
            projectStore: null,
            pattern: '',
            content_html: '',
            content_api: '',
        }
    }
})
</script>

<style scoped>
section.page {
    flex: 1;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
    height: 1px;
    padding-left: 1em;
    padding-top: 1em;
}
section.content {
    height: 100%;
    margin-right: 10px;
    background-color: white;
    flex:1;
}
section.page div.n-tab-pane {
    --n-pane-padding: 6px 0 0 0;
    border-left: 1px solid #7cc5c5;
    border-right: 1px solid #7cc5c5;
    border-bottom: 1px solid #7cc5c5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 1px;
    flex:1;
}

section.content div.html {
    all: revert;
    overflow-y: auto;
    height: 100%;
    padding-left: 8px;;
}
.treeview .n-tree-node-content {
    font-size: 1.1em;
    color: red;
}
.treeview {
    padding: 1em;
    padding-bottom: 0;
}
.page {
    display: flex;
    flex-direction: row;
}
.page .n-tree, .api-columns .n-input {
    font-size: 1.15em;
}
.page .column-1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid  #7cc5c5;
    border-radius: 6px;
    margin-bottom: 12px;
    padding-bottom: 1em;
}
.page .column-1 .treeview {
    height:100%;
    display: flex;
}

.page .column-1 .input {
    flex:0;
}  
.page .column-1 .tree {  
    flex:1;
    height:100%;
    border-radius: 8px;
    padding: 4px;
    padding-top: 2px;
}
/* .page .column-1 .tree-edit {  
    flex:1;
    height:100%;
    border-radius: 8px;
    padding: 4px;
    padding-top: 2px;
} */
.page .column-1 .switch{
    flex:0;
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.page .column-2 {
    flex: 1;
    margin-right: 0;
    margin: 1em;
    margin-top: 0;
    font-size: 1.15em;
    height: 100%;
    margin-right: 0;
    margin-bottom: 1em;
    padding-bottom: 12px;
}
</style>

<style>
.content .html .license {
    border: 1px solid cadetblue;
    background-color: rgb(218, 240, 240);
    border-radius: 6px;
    padding: 1em;
    margin-right: 0.5em;
}



.treeview span.poolball {
    color: #666;
    font-weight: 600;
    font-size: 0.7em;
}

.treeview .n-tree-node-content i.method { color: blue; }
.treeview .n-tree-node-content i.property { color: magenta; }
.treeview .n-tree-node-content i.ext-py { color: rgb(14, 168, 14); }
.treeview .n-tree-node-content i.ext-md { color: rgb(139, 85, 13); }
.treeview .n-tree-node-content i.ext-LICENSE { color: rgb(54, 122, 179); }
.treeview .n-tree-node-content i.ext-folder { color: rgb(146, 101, 18); }
.treeview .n-tree-node-content i.ext { color: rgb(250, 18, 18); }
.treeview .n-tree-node-content i.ext-gitlab { color: rgb(209, 70, 5); }

section.page div.n-tabs {
    height:100%;
    display: flex;
}
section.page div.n-tabs-nav {
    --n-tab-border-color: #7cc5c5;
}
.page .column-1 .treeview > div:nth-child(2) {
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.page .column-2 .content {
    height: 100%;
    /* overflow-y: scroll; */
}
.page .column-2 .content-wrapper .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.page .column-2 .content-wrapper .message {
    font-family: "Archivo", sans-serif;
    font-size: 1.2em;
    margin-left: 1.2em;
    margin-top: 0.5em;
}
.page .column-2 .content-wrapper {
    height: 100%;
    overflow-y: auto;
}
.treeview .n-tree-node-content__text {
    font-family: "Archivo", sans-serif;
    font-size: 1.03em;
}

/* CSS For API Stuff starts here ... */

.docs-article .docs-heading {
    color: teal;
    font-size: 2.8em;
    margin-bottom: 0.25em;
}

.docs-article .section-heading {
    color: teal;
    font-size: 2em;
    margin-bottom: 0.4em;
}

.docs-article .docs-section {
    border-bottom: none;
}

ul .section-items {
    display: none;
}

.package {
    color:  #c00;
}

.docs-nav .section-title {
    margin-bottom: 0!important;
}

.chevron {
    color:  gray;
}

.version {
    color: teal;
    font-size: 0.7em;
    font-weight: 400;
}

pre {
    margin-bottom: 0!important;
}

.container {
    max-width: none!important;
}

div.container {
    padding-left: 1.8em;
    padding-right: 1.8em;
}

.classdef {
    padding-bottom: 0em;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.classdef span.keyword {
    font-size: 1.4em;
    text-transform: capitalize;
}

.keyword {
    color: #006699;;
    font-weight: bold;
    font-size: 1.2em;
}

.literal {
    color: teal;
    font-weight: bold;
}

.klass {
    color: #f7621d;
    font-weight: bold;
}

div.classdef span.klass {
    font-size: 1.2em;
}

.return {
    color: #993399;
    font-size: 1.1em;
    font-weight: bold;
}

.var {
    color: green;
    font-weight: bold;
    font-size: 1.1em;
}

.docs-nav {
    padding-top: 0!important;
}

.docs-nav .section-title {
    margin-bottom: 0!important;
}

.methodslabel {
    padding: 0.2em;
    background-color: #827d85;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.params {
    margin-block-start: 0.2em;
    margin-block-end: 0.4em;
}

.param {
    color: green;
    font-weight: 600;
}

.type {
    color: #3366ff;
    font-weight: 600;
}

li {
    color: gray;
    margin-left: 0.em;
}

.paramslabeldiv {
    margin-top: 0.1em;
}

.methodslabeldiv {
    margin-top: 0.5em;
}

.paramslabel {
    background-color: #6699ff;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.method {
    color: #f75b13;
    font-weight: 700;
}

div.function span.method {
    font-size: 1.2em;
}

.cdef {
    margin-top: 0.2em;
    margin-left: 2em;
}

.function {
    margin-left: 2em;
    padding-top: 0.1em;
}

div.moduledoc div {
    line-height: 1.5em!important;
}

div.moduledoc {
    background-color: #e6f2ff;
    color: teal;
    font-family: monospace;
    margin-left: 0em;
    margin-top: 2em;
    padding-bottom: 1em;
    padding-left: 1.3em;
    padding-right: 1.5em;
    padding-top: 1em;
    text-align: justify;
    white-space: pre-wrap;
    width: 75em;
    word-wrap: normal;
    line-height: 1em;
}

div.function div.docstring {
    margin-top: 0px;
    width: 71.5em;
}

div.docstring {
    border: 1px dotted #aaa;
    border-radius: 6px;
    font-size: 0.9em;
    background-color: #f7f7f7;
    color: #817976;
    font-family: monospace;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    white-space: pre-wrap;
    width: 74em;
    word-wrap: normal;
}
.defaultvalue {
    color: #669900;
    font-weight: 700;
}

.docs-wrapper{
    position:relative
}

.docs-sidebar {
    padding-right: 1em;
}

.docs-code-block {
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: -10px;
}
.dialogClass {
    border: 5px solid cadetblue;
}
.dialogClass .n-dialog__content {
    background-color: #eee;
    padding: 1em;
    border-radius: 6px;
}
button:focus {
    border: 2px solid green!important;
}
button {
    border: 2px solid transparent!important;
}
</style>
