<template>
    <section class="lhs">
        <div class="logo">
            <img :width="40" src="@/assets/orbit-logo.png"/>
        </div>
        <menu-button v-for="item in menu"
            :active="isSelected(item)"
            :icon="item.icon"
            :class="`${isSelected(item)}`"
            :text="item.text"
            :key="item.text"
            @click="onMenuItemClick(item)"
            />
    </section>
</template>

<script setup>
import { defineComponent, shallowRef } from 'vue';
import MenuButton from '@/widgets/MenuButton.vue';
import SupervisedUserCircleOutlined from '@vicons/material/SupervisedUserCircleOutlined.js';
import AutoAwesomeMotionOutlined from '@vicons/material/AutoAwesomeMotionOutlined.js';
import NewReleasesOutlined from '@vicons/material/NewReleasesOutlined.js';
import HomeOutlined from '@vicons/material/HomeOutlined.js';
import ApiFilled from '@vicons/material/ApiFilled.js';
import LogOutOutlined from '@vicons/material/LogOutOutlined.js';
import { useCommonStore } from '@/stores/commonStore'
</script>

<script>
export default defineComponent({
    created () {
        this.commonStore = useCommonStore()
    },
    data () {
        return {
            commonStore: null,
            selected: '',
            menu: [
                {key: 'home'        , text: 'Home'    , icon: shallowRef(HomeOutlined) },
                {key: 'sessions'    , text: 'Sessions', icon: shallowRef(AutoAwesomeMotionOutlined) },
                {key: 'users'       , text: 'Users'   , icon: shallowRef(SupervisedUserCircleOutlined) },
                {key: 'versions'    , text: 'Versions', icon: shallowRef(NewReleasesOutlined) },
                {key: 'api'         , text: 'API'     , icon: shallowRef(ApiFilled) },
                {key: '-'           , text: ''        , icon: null },
                {key: 'logout'      , text: 'Logout'  , icon: shallowRef(LogOutOutlined) },
            ]
        }
    },
    components: {
        MenuButton,
        SupervisedUserCircleOutlined,
        NewReleasesOutlined,
        HomeOutlined,
        ApiFilled,
        LogOutOutlined
    },
    watch: {
        "$route": {
            handler: function (newRoute) {
                this.selected = newRoute.name
            }
        }
    },
    computed: {
        erase: {
            get () { return this.commonStore ? this.commonStore.erase : false},
            set (value) { this.commonStore.erase = value }
        },
    },
    methods: {
        isSelected (item) {
            return item.key == this.selected
        },
        onMenuItemClick (item) {
            if (item.key == 'logout') {
                this.erase = true
                window.location.replace('https://orbit.madpenguin.uk')
            } else {
                this.selected = item.key
                this.$router.replace('/' + item.key)
            }
        }
    },
})
</script>

<style scoped>
.lhs {
    background-color: #eee;
    height: 100%;
    width: 88px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
}
.logo {
    text-align: center;
    padding-top: 8px;
    padding-left: 0px;
    margin-bottom: 2px;
    width: 85px;
    height: 56px;
}
</style>
