<template>
    <section class="page" v-if="markdown">
        <div class="content">
            <div v-html="markdown"></div>
        </div>
    </section>
    <section class="page" v-else>
        <n-space style="width:50%;left:48%;top:40%">
            <n-spin size="large" />
        </n-space>
    </section>    
</template>

<script>
import { useCommonStore } from '@/stores/commonStore'
import { defineComponent } from 'vue'

export default defineComponent({
    inject: [
        '$sockets'
    ],
    props: {
        file: Object
    },
    created () {
        this.commonStore = useCommonStore()
    },
    mounted () {
        this.load_home()
    },
    watch: {
        file: {
            handler: function (newFile, oldFile) {
                this.load_home()
            },
        },
    },
    methods: {
        load_home () {
            if (!this.authenticated||!this.file) return
            console.log("<<LOAD>>", this.file, this.file.url)
            this.$sockets.get('versioncheck').emit('cache_fetch', this.file.url, (response) => {
                if (response && response.ok) {
                    this.markdown = response.text
                }
            })
        }
    },
    computed: {
        authenticated () { return this.commonStore ? this.commonStore.authenticated : false },
    },
    data () {
        return {
            markdown: null,
            commonStore: null,
        }
    }
})
</script>

<style scoped>
.page {
    height: 100%;
}
section.page.content {
    overflow-y: auto;
    font-size: 1.1em;
}
section.page.content div.content div {
    all: revert;
    width: 1024px;
}
</style>

<style>
section.page.content div.content div p {
    margin-bottom: 0.8em;
}
section.page.content div.content div pre {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}
section.page.content div.content div H1 {
    font-size: 1.8em;
    font-weight: 600;
    color: teal;
}
section.page.content div.content div H2 {
    font-size: 1.4em;
    font-weight: 600;
    color: #888;
}
section.page.content div.content div A {
    color: blue;
    text-decoration: none;
    font-weight: 500;
}
section.page.content div.content div IMG {
    margin-bottom: 4px;
    margin-right: 8px;
}
section.page.content div.content div strong {
    font-weight: bold;
    color: #333;
}
</style>