<template>
    <section class="rhs">
        <div class="header"><span class="title">Orbit VersionCheck</span> <span class="version">{{ version }}</span></div>
        <RouterView v-slot="{ Component }" :key="$route.fullPath">
            <keep-alive>
                <component :is="Component"/>
            </keep-alive>
        </RouterView>
    </section>
</template>

<script setup>
import { RouterView } from 'vue-router'
import { version } from '@/../package.json'
</script>

<script>
export default {

}
</script>

<style scoped>
.rhs {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex:1;
    background-color: #eee;
    overflow: hidden;
}
.rhs div.header {
    flex:0;
    min-height: 52px;
    line-height: 56px;
}
.rhs div.header span.title {
    font-size: 2.5em;
    font-weight: 400;
    font-family: "League Gothic", sans-serif;
    color: #3b6497;
}
.rhs div.header span.version {
    color: cadetblue;
    font-size: 1.1em;
    font-weight: 600;
}</style>