<template>
    <div class="table-container">
        <div class="table-container-body">
            <div class="table-header test-list-item" key='heading'>
                <slot name="header"></slot>
            </div>
            <transition-group name="test-list" class="table-scroll-area" tag="div" v-if="ids.length">
                <div v-for="(row_id,index) in ids" :key="row_id" @click="onClick(row_id)" :class="widgetRowClass(index)">
                    <slot name="row" :row_id="row_id" :index="index"></slot>
                </div>
            </transition-group>
            <div v-else>
                <slot name="empty"></slot>
            </div>
        </div>
    </div>  
</template>

<script>
export default {
    name: 'TableWidget',
    props: {
        ids: Array,
    },
    mounted () {
        console.log("IDS>", this.ids)
    },  
    methods: {
        onClick (id) {
            this.$emit('click')
        },
        widgetRowClass (index) {
            return 'table-row test-list-item ' + (index%2 ? 'odd' : 'even') + (index == this.ids.length - 1 ? ' last':'')
        },
    }
}
</script>

<style scoped>
.test-list-enter, .test-list-leave-to {
    max-height: auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden;
}
.test-list-leave, .test-list-enter-to { max-height: 2.2em; }
.test-list-move     { transition: all 1s; }
.test-list-item     { transition: all 0.3s; }
.table-container    { height: 100%; }
.table-container-section { height: 100%; }
.table-container-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: auto;
    padding-right: 1em;
    padding-bottom: 1em;
    width: 100%;
}
.table-header {
    flex:0;
    display: flex;
    width: fit-content;
}
.table-scroll-area {
    flex:1;
    display: flex;
    flex-direction: column;
    max-height:100%;
    overflow-y: auto;
    width: fit-content;
}
.table-row {
    display: flex;
    flex:0;
    border-bottom: 1px solid #ccc;
    width: fit-content;
}
.table-row.odd          { background-color: #f3f3f3; }
.table-row.even         { background-color: white; }
.table-row.odd.last     { border-bottom: none!important; }
.table-row.odd:hover    { background-color: #e6fff2; }
.table-row:hover        { background-color: #e6fff2; }
</style>